/* 최근방문영역 */
#visit > div {
  display: flex;
  margin:20px auto 46px;
  width:560px;
  height:42px;
  box-sizing: border-box;
  border:1px solid #dbdbdb;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  align-items: center;
}
/* span */
#visit > div > span {
  margin:0 20px;
  font-size: 13px;
  font-weight: 400;
}
/* 버튼 폰트 색깔 */
#visit > div div a,
#visit > div div > div {
  color:#828282;
}
/* 최근방문 버튼 사이간격 */
#visit > div div ~ div {
  margin-left:20px;
}
/* 클로즈 버튼 */
#visit > div div > button {
  font-size:10px;
  padding-left:8px;
  cursor:pointer;
}